.navbar {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 1rem;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--card-color);
  z-index: 1000;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image {
  border: 2px solid var(--border-color);
  border-radius: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
}

.job {
  font-size: small;
  color: var(--text-accent);
}

.links {
  display: flex;
  gap: 2rem;
}
