.navbar {
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 1rem;
  margin: auto;
  padding: 0.6rem 0.8rem;
  border: 1px solid;
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  background-color: var(--card-color);
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image {
  border: 2px solid purple;
  border-radius: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
}

.job {
  font-size: small;
}

.links {
  display: flex;
  gap: 2rem;
}
