.main {
  display: grid;
  gap: var(--grid-gap);
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 0;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
}

.main > :nth-child(1) {
  grid-row: span 2;
}

.main > :nth-child(4) {
  grid-column: span 2;
}

.main > :nth-child(7) {
  grid-row: span 2;
}
