.main {
  display: grid;
  gap: var(--grid-gap);
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 0;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}

.card {
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  padding: 1.2rem 1rem;
  background-color: var(--card-color);
  transition: all 0.1s ease-in-out;
}

.card:hover {
  border-color: var(--purple);
  transform: translateY(-2px);
}

.stack {
  grid-column: span 2;
  aspect-ratio: 3 / 1;
}

.four {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: 1fr 1fr;
}

.experience {
  aspect-ratio: 1;
}

.post {
  grid-row: span 2;
  aspect-ratio: 1;
}
