.main {
  display: grid;
  gap: var(--grid-gap);
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 0;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
}

.main > :nth-child(1) {
  grid-row: span 2;
}

.main > :nth-child(4) {
  grid-column: span 2;
}

.main > :nth-child(7) {
  grid-row: span 2;
}

.card {
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  padding: 1.2rem 1rem;
  background-color: var(--card-color);
  transition: all 0.1s ease-in-out;
}

.card:hover {
  border-color: var(--purple);
  transform: translateY(-2px);
}
